.main_text {
    padding-bottom: 20px;
}


.about_us {
    width: 100%;
    background-color: white;
}

.inside_about {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* .inside_about h3 {
    font-size: 42px;
    font-weight: 700;
} */

.text_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inside_about #icon {
    background: url('../../assets/images/icon.png');
    background-size: 51%;
    background-position-x: 0%;
    background-position-y: 60%;
    width: 116px;
    height: 64px;
    background-repeat: no-repeat;
}

.text_about {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    color: rgb(153,136,125);
}

.svg_text {
    display: flex;
    margin-bottom: 20px;

}

.svg_text svg {
    margin-right: 10px;
    color: #ebbaa9;
}

.img_about img {
    max-width: 90%;
    max-height: 90%;
}

@media screen and (max-width: 768px) {
    .inside_about {
        display: flex;
        flex-direction: column;
    }

    .img_about {
        display: flex;
        justify-content: center;
    }
}