/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    background: none;
    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -229%);

    cursor: pointer;
    color: black;
    border: none;
    outline: none;
    
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
   
    outline: none;
  
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{

    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    /*font-family: 'slick';*/
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: black;


}

.slick-prev
{
    left: -29px;
}
[dir='rtl'] .slick-prev
{
    right: 0px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -29px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -5px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}


.slick-dots {
    display: none!important;
}


@media screen and (max-width: 1120px) {

    .slick-prev
{
    left: -15px;
}

    .slick-next
{
    right: -15px;
}

}

@media screen and (max-width: 1024px) {

    .slick-prev
{
    left: 25px;
}

    .slick-next
{
    right: 25px;
}

}


@media screen and (max-width: 900px) {

    .slick-prev
{
    left: 3px;
}

    .slick-next
{
    right: 3px;
}

}

@media screen and (max-width: 850px) {

    .slick-prev
{
    left: -12px;
}

    .slick-next
{
    right: -12px;
}

}

@media screen and (max-width: 650px) {

    .slick-prev
{
    left: 205px;
}

    .slick-next
{
    right: 205px;
}

}