    #color_caption p{ 
        color: rgb(184,164,192);
        
    }     
    
    #color_body p{
        color:rgb(130,113,137);
    }
    .svg_text {
        font-size: 17px;
        font-weight: 400;
        line-height: 29px;
        color: rgb(147,132,155);
    }

    .why_us{
        background-image: url('../../assets/images/why_we.svg');
        background-size: cover;
        background-position-x: 25%;
        height: 676px;
        
    
    }

    .why_us_inside{
        display: flex;
        padding-top: 60px;
        justify-content: center;

    }

    #why_text_section {
        padding-left: 50px;
        height: 414px;
        width: 800px;
       
    }
   .empty_div {
    width: 600px;
   }


   @media screen and (max-width: 1410px) {

    .why_us{
     background-position-x: 32%;
    }
   }

   @media screen and (max-width: 1150px) {

    .why_us{
     background-position-x: 38%;
    }
   }

   @media screen and (max-width: 820px) {

    .why_us{
     background-position-x: 43%;
    }
   }

   @media screen and (max-width: 640px) {

    #why_text_section {
        padding-left: 10px;
    }

    .empty_div {
        width: 0px;
       }

    .why_us{
     background-position-x: 46%;
     background-size: auto;
    }
   }